{{ define "main" }}
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      
      {{ $paneClasses := slice "pane" }}
      {{ $paneClasses = $paneClasses | append .Page.Section }} 
      
      {{ if eq $currentPage.Name "Home" }} {{/* Home Page */}}
          {{ $paneClasses = $paneClasses | append "col-md-3" }}
      {{ else if eq .Page.Section "about" }} {{/* About Pane */}}
        {{ if eq $currentPage.Section .Page.Section }}
          {{ $paneClasses = $paneClasses | append "active" "col-md-6" }}
        {{ else }}
          {{ $paneClasses = $paneClasses | append "inactive" "col-md-3" }}
        {{ end }}
      {{ else }} {{/* Regular Pane */}}
        {{ if eq $currentPage.Section .Page.Section }}
          {{ $paneClasses = $paneClasses | append "active" "col-md-5" }}
        {{ else }}
          {{ $paneClasses = $paneClasses | append "inactive" "col-md-2" }}
        {{ end }}
      {{ end }}
      
      <div class="{{ delimit $paneClasses " " }}">
        <a class="title" href="{{ .URL }}">
          {{ if eq .Name "About" }}
          <p class="about">Find Us</p>
          <h1>Wood Farm</h1>
          <p>Stables · <span class="hidden-sm hidden-md">Swimming</span> Pool · Airfield</p>
          {{ else if eq .Name "Swimming Pool" }}
          <p>The</p>
          <h2><span class="d-md-none d-lg-inline">Swimming</span> Pool</h2>
          <p><span class="at">at</span>Wood Farm</p>
          {{ else }}
          <p>The</p>
          <h2>{{ .Name }}</h2>
          <p><span class="at">at</span>Wood Farm</p>
          {{ end }}
        </a>
        {{ if eq $currentPage.Section .Page.Section }}
        <div class="container-fluid">
        <div class="row body">
          <div class="col-3">
            <nav class="nav flex-column">
              <a class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">Intro</a>
              {{ range .Children }}
              <a class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
              {{ end }}
            </ul>
          </div>
          {{ if eq $currentPage.Section .Page.Section }}
          <div class="col-8">
            {{ $currentPage.Content }}
          </div>
          {{ end }}
          {{ if eq .Name "About" }}
            <iframe class="map"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ03PIXfZf10cRRJEhzvQyIBM&zoom=10&center=52.670772%2C1.192094&key=AIzaSyCH1qupaDt92ndn9pmtHGr2vsVbN0q58Hk" allowfullscreen></iframe>
          {{ end }}
        </div> <!-- .row -->
        </div> <!-- .container -->
        {{ end }}
      </div> <!-- .pane -->
      {{ end }}
{{ end }}
