{{ define "main" }}
      <div class="pane farm" ng-class="paneClass('#/about')">
        <a class="title" href="#/about">
          <p class="about">Find Us</p>
          <h1>Wood Farm</h1>
          <p>Stables · <span class="hidden-sm hidden-md">Swimming</span> Pool · Airfield</p>
        </a>
        <div class="row body">
          <ng-include src="partial"></ng-include>
        </div>
      </div>
      <div ng-repeat="pane in panes" class="pane {{.Params.class}}">
        <a class="title" href="{{.Params.url}}">
          <p>The</p>
          <h2>{{.Title}}</h2>
          <p><span class="at">at</span>Wood Farm</p>
        </a>
        <div class="row body">
          <div class="col-xs-3">
          <ul class="nav nav-stacked">
            <li ng-repeat="section in sections" ng-class="sectionClass(pane.url, section.url)"><a href="{{.RelPermalink}}">{{.Title}}</a></li>
          </ul>
          </div>
          <div class="col-xs-8">
            <ng-include src="partial"></ng-include>
          </div>
        </div>
      </div>
{{ end }}
