<p>The pool is around 8 metres in length, equipped with water jets and ideal for families it's available for private hire in 1 hour sessions.</p>

<p>Shower and changing facilities are available, please ensure you leave sufficient time to change before the next swimmers arrive.</p>

<!--script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script>
<p><a id="Setmore_button_iframe" href="https://my.setmore.com/shortBookingPage/af9bcf17-4a30-4a45-af52-793ddc5bf1eb" class="btn btn-primary">Book a session</a></p-->